<h1 style="margin-bottom:3%">Orders</h1>
<div style="margin-left:5%" style="background-color:white">
  <p>
    <button type="button" class="btn btn-link collapsed" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseSales" [disabled]="isDisabled">
      <i class="fa fa-cogs fa-2x" aria-hidden="true">&nbsp;Setting</i>
    </button>
  </p>
  <div id="collapseSales" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <!--------------------------------- customer group ---------------------------------------->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-1x"></i>
                  <i class="fa fa-angle-down fa-stack"></i>
                </span> Customer Group
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
            <div class="card-body" style="margin-left:4%">
              <div class="form-group" style="margin-top:3%;">
                <label for="group" style="margin-left:7%;">Group </label>
                <select class="form-control" id="group" name="group" style="width:20%;display:inline-block;margin-left:1%">
                    <option value="none"> Choose a Group </option>
                  <option *ngFor="let group of customer_group.items" [value]="group.code"> {{group.code}} </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-----------------------------------------------status---------------------------------------------------------------->
        <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-1x"></i>
                    <i class="fa fa-angle-down fa-stack"></i>
                  </span> Order Status
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
              <div class="card-body" style="margin-left:4%">
                <div class="form-group" style="margin-top:3%;">
                  <label for="status" style="margin-left:7%;">Status </label>
                  <select class="form-control" id="status" name="status" style="width:20%;display:inline-block;margin-left:1%">
                    <option value="none"> Choose a Status </option>
                    <option *ngFor="let status of order_status" [value]="status.status"> {{status.status}} </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
            <!----------------------------------Amount-------------------------------------------------------------------->
            <div class="card">
              <div class="card-header" id="headingFore">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle-thin fa-stack-1x"></i>
                      <i class="fa fa-angle-down fa-stack"></i>
                    </span> Amount
                  </button>
                </h5>
              </div>
              <div id="collapseFore" class="collapse" aria-labelledby="headingFore">
                <div class="card-body" style="margin-left:4%">
                  <div class="form-group" style="margin-top:3%;">
                    <label for="amount" style="margin-left:7%;"> Amount</label>
                    <select class="form-control" id="operator" name="operator" style="width:6%;display:inline-block;margin-left:1%">
                      <option> > </option>
                      <option> < </option>
                      <option> = </option>
                    </select>
                    <input id="amount" name="amount" style="width:20%;display:inline-block;margin-left:1%" class="form-control" type="number" placeholder="0.000" step="10.000" min="0" max="100000000000000">
                  </div>
                </div>
              </div>
            </div>
            <br>
          <button type="submit" class="btn btn-success" style="float: right;">Submit</button>

      </div>
    </div>
  </div>
</div>
