<h1 style="margin-bottom:3%">Sales</h1>
<div *ngIf="attributes">
  <p-fieldset legend="Settings" [toggleable]=true [collapsed]=isCollapsed>
    <form #venteForm="ngForm" style="margin-left:5%">
      <p-accordion>
        <!------------------------------------------------------------Amount of sales-------------------------------------------------------------------->
        <p-accordionTab header="General Information" [selected]="true">
          <div style="margin-left:4%">
            <div class="form-group">
              <label for="amount">Amount</label>
              <select class="form-control" id="operateur" name="operateur" style="width:6%;display:inline-block;margin-left:1%" [disabled]=flagFornewSearch>
                <option value="gteq"> > </option>
                <option value="lteq"> < </option>
                <option value="eq"> = </option>
              </select>
              <input id="amount" name="amount" style="width:20%;display:inline-block;margin-left:1%" class="form-control" type="number"
                placeholder="0.000" step="1.000" min="0" max="100000000000000" [(ngModel)]="model.amount" [disabled]=flagFornewSearch>
            </div>
          </div>
        </p-accordionTab>
        <!------------------------------------------------------------Product-------------------------------------------------------------------->
        <p-accordionTab header="Product Information">
          <div style="margin-left:4%">
            <div class="form-group" style="width:20%;display:inline-block;">
              <label for="attribute">Attribute</label>
              <select (change)="onChange()" class="form-control" id="attribute" [(ngModel)]="model.product_attribute" name="attribute" required [disabled]=flagFornewSearch>
                <option value="none" [defaultSelected]="true"> Choose attribute</option>
                <option *ngFor="let attribute of attributes" [value]="attribute">
                  {{attribute}}
                </option>
              </select>
            </div>
            <div class="form-group" style="width:20%;display:inline-block;margin-left:5%">
              <label for="option">Option</label>
              <select class="form-control" id="option" [(ngModel)]="model.attribute_option" name="option" [disabled]="!modeoption||flagFornewSearch" required>
                <option value="none" [defaultSelected]="true"> Choose option</option>
                <option value="all"> All option</option>
                <option *ngFor="let option of options" [value]="option">
                  {{option}}
                </option>
              </select>
            </div>
          </div>
        </p-accordionTab>
        <!-------------------------------------------------Customer------------------------------------------------------------------------------>
        <p-accordionTab header="Customer Information">
          <div style="margin-left:4%">
            <h5 style="margin-left:7%">
              <b>Group</b>
            </h5>
            <div style="display:inline-block;margin-left:10%">
              <div class="form-check" *ngFor="let group of customer_group">
                <input class="form-check-input" type="radio" name="customerG" id="{{group.label}}" [value]=group.label [(ngModel)]="model.customer_group"
                  (change)="onChangeRadio()" [disabled]=flagFornewSearch>
                <label class="form-check-label" for="group">
                  {{group.label}}
                </label>
              </div>
            </div>
            <div class="form-group" style="margin-top:3%;" [hidden]=!flagAge_Gender>
              <label for="age" style="margin-left:7%;">Age</label>
              <select class="form-control" id="age" name="age" style="width:20%;margin-left:10%;" [(ngModel)]="model.customer_age" [disabled]=flagFornewSearch>
                <option value="Less than 20 years">Less than 20 years</option>
                <option value="Between 20 and 35 years">Between 20 and 35 years</option>
                <option value="More than 35 years">More than 35 years</option>
              </select>
            </div>
            <div [hidden]=!flagAge_Gender>
              <h5 style="margin-left:7%">
                <b>Gender</b>
              </h5>
              <div style="margin-left:10%">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="men" value="men" [(ngModel)]="model.customer_gender" [disabled]=flagFornewSearch>
                  <label class="form-check-label" for="men">
                    Men
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="women" value="women" [(ngModel)]="model.customer_gender" [disabled]=flagFornewSearch>
                  <label class="form-check-label" for="women">
                    Women
                  </label>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <!---------------------------------------------------------Local information------------------------------------------------------------>
        <p-accordionTab header="Local Information">
          <div style="margin-left:4%">
            <div class="form-group" style="margin-top:3%;">
              <label for="region" style="margin-left:7%;">Region</label>
              <select class="form-control" id="region" name="region" style="width:17%;margin-left:10%;" [(ngModel)]="model.region" [disabled]=flagFornewSearch>
                <option *ngFor="let v of ville" [value]="v">
                  {{v}}
                </option>
              </select>
            </div>
            <div>
              <label style="margin-left:7%;">Period</label>
              <br>
              <label for="startDate" style="margin-left:8%;">From : </label>
              <br>
              <div style="margin-left:10%;">
                <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" id="startDate" ngbDatepicker #d="ngbDatepicker" style="display:inline-block;width:15%" [(ngModel)]="model.period.From" [disabled]=flagFornewSearch>
                <div class="input-group-append" style="display:inline-block;margin-left:-3%">
                  <a (click)="d.toggle()">
                    <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
            <div style="margin-top:1%">
              <label for="endDate" style="margin-left:8%;">To : </label>
              <br>
              <div style="margin-left:10%;">
                <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" id="endDate" ngbDatepicker #d1="ngbDatepicker" style="display:inline-block;width:15%" [(ngModel)]="model.period.To" [disabled]=flagFornewSearch>
                <div class="input-group-append" style="display:inline-block;margin-left:-3%">
                  <a (click)="d1.toggle()" >
                    <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <!----------------------------------Payment method-------------------------------------------------------------------->
        <p-accordionTab header="Payment Method">
          <div style="margin-left:4%">
            <div class="form-group" style="margin-top:3%;">
              <label for="payment" style="margin-left:7%;"> Method</label>
              <select class="form-control" id="payment" name="payment" style="width:25%;display:inline-block;margin-left:1%" [(ngModel)]="model.payment_method" [disabled]=flagFornewSearch>
                <option value="none"> Choose a Method </option>
                <option *ngFor="let method of payment_method" [value]="method.label"> {{method.label}} </option>
              </select>
            </div>
          </div>
        </p-accordionTab>
        <!---------------------------------------------Shipping---------------------------------------------------------->
        <p-accordionTab header="Shipments">
          <div style="margin-left:4%">
            <div class="form-group" style="margin-top:3%;">
              <label for="shipment_method" style="margin-left:7%;">Method </label>
              <select class="form-control" id="shipment_method" name="shipment_method" style="width:15%;display:inline-block;margin-left:1%" [(ngModel)]="model.shipments_method" [disabled]=flagFornewSearch>
                <option *ngFor="let method of shipment_method" [value]="method.label">{{method.label}}</option>
              </select>
            </div>
            <div class="form-group" style="margin-top:3%;">
              <label for="weight" style="margin-left:7%;">Weight </label>
              <select class="form-control" id="operateur2" name="operateur2" style="width:6%;display:inline-block;margin-left:1%" [disabled]=flagFornewSearch>
                <option value="gteq"> > </option>
                <option value="lteq"> < </option>
                <option value="eq"> = </option>
              </select>
              <input id="weight" name="weight" style="width:15%;display:inline-block;margin-left:1%" class="form-control" type="number"
                placeholder="0" step="10" min="0" max="100000000" [(ngModel)]="model.shipments_weight" [disabled]=flagFornewSearch>
              <p style="display:inline-block;margin-left:-4%;">Ibs</p>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <br>
      <div *ngIf="!flagFornewSearch">
      <button (click)="clear()" type="submit" Class="btn btn-warning" style="float: right;"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;Clear</button>
      <button (click)="getChartsData()" type="submit" class="btn btn-success" style="float: right;margin-right:1%"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;&nbsp;Submit</button>
    </div>
    <div *ngIf="flagFornewSearch">
      <button (click)="newSearch()" type="submit" Class="btn btn-warning" style="margin-left:40%;"><i class="fas fa-search-plus"></i>&nbsp;&nbsp;New Reports</button>
    </div>
    </form>
  </p-fieldset>
</div>
<!--------------------------------------------charts---------------------------------------------------------------------------->
<div [hidden]=!flagSpinner style="margin-left:40%;margin-top:10%;">
<p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="flagCharts" style="margin-top:2%;visibility:visible">
  <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
  <button type="button" class="btn btn-outline-secondary" style="float:right" (click)="exportPDF()" [disabled]=flagmap>
    <span class="glyphicon glyphicon-share"></span> Export to PDF</button>
  <div *ngIf="flagbar" id="bar" style="width:50%; margin-left:20%;margin-top:2%;"  #bar>
    <h3>Bar Chart</h3>
    <p-chart type="bar" [data]="bardata" #barchart ></p-chart>
  </div>
  <div *ngIf="flagline" id="line" style="width:50%;margin-left:20%;margin-top:4%;"  #line>
    <h3>Line Chart</h3>
    <p-chart type="line" [data]="data" #linechart></p-chart>
  </div>
  <div *ngIf="flagpie" id="pie" #pie>
    <h3>Pie Chart</h3>
    <div style="width:50%;display:inline-block">
      <p-chart type="pie" [data]="piedata" #piechart></p-chart>
    </div>
    <div style="width:50%;display:inline-block;float: right;">
      <p-chart type="radar" [data]="radardata" style="width:50%" #radarchart></p-chart>
    </div>
    <div style="width:50%;display:inline-block">
      <p-chart type="polarArea" [data]="polardata" style="width:50%" #polarchart></p-chart>
    </div>
    <div style="width:50%;display:inline-block;float: right;">
      <p-chart type="doughnut" [data]="Doughnutdata" style="width:50%" #doughnutchart></p-chart>
    </div>
  </div>
  <div *ngIf="flagmap" id="map" #map>
    <h3>Map</h3>
    <p-gmap id="mapchart" [options]="gmap" [overlays]="overlays" [style]="{'width':'100%','height':'450px'}" #mapchart></p-gmap>
  </div>
</div>


